---

---

<header
  class="mx-4 flex items-center justify-between h-20 sm:h-[123px] text-white"
>
  <a class="text-2xl font-semibold font-outfit lg:flex hidden" href="/#"></a>

  <nav
    class="text-sm flex flex-wrap gap-x-2 border border-zinc-200 px-1 rounded-full shadow-sm hover:shadow-md transition"
  >
    <ul class="flex items-center">
      <li>
        <a
          class="p-3 lg:p-4 block text-lg text-white hover:text-[#6A0DAD] hover:hover:scale-110 rounded-2xl shadow-sm"
          href="/#">Home</a
        >
      </li>
      <li>
        <a
          class="p-3 lg:p-4 block text-lg text-white hover:text-[#6A0DAD] hover:hover:scale-110 rounded-2xl shadow-sm"
          href="/experience">Experience</a
        >
      </li>
      <li>
        <a
          class="p-3 lg:p-4 block text-lg text-white hover:text-[#6A0DAD] hover:hover:scale-110 rounded-2xl shadow-sm"
          href="/projects">Projects</a
        >
      </li>
      <li>
        <a
          class="p-3 lg:p-4 block text-lg text-white hover:text-[#6A0DAD] hover:hover:scale-110 rounded-2xl shadow-sm"
          href="/contact">Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
