---

---

<div class="div">
  <div class="scroller" data-speed="fast">
    <ul class="tag-list scroller__inner">
      <li>
        <img src="./logospro/html2.svg" alt="HTML" class="img w-24 -mt-2" />
      </li>
      <li><img src="./logospro/css.svg" alt="CSS" class="img w-24 -mt-2" /></li>
      <li>
        <img
          src="./logospro/javascript.svg"
          alt="JAVASCRIPT"
          class="img w-20"
        />
      </li>
      <li>
        <img
          src="./logospro/typescript.svg"
          alt="TYPESCRIPT"
          class="img w-24 -mt-2"
        />
      </li>
      <li>
        <img src="./logospro/react1.svg" alt="REACT" class="img w-32 -mt-6" />
      </li>
      <li>
        <img
          src="./logospro/nextjs2.svg"
          alt="NEXTJS"
          class="img w-36 invert -mt-8"
        />
      </li>
      <li>
        <img
          src="./logospro/express.svg"
          alt="EXPRESSJS"
          class="img w-44 invert -mt-11"
        />
      </li>
      <li>
        <img
          src="./logospro/tailwind.svg"
          alt="TAILWINDCSS"
          class="img w-28 -mt-6"
        />
      </li>
      <li><img src="./logospro/material.svg" alt="MUI" class="img w-20" /></li>
      <li><img src="./logospro/python.svg" alt="PYTHON" class="img w-20" /></li>
      <li>
        <img src="./logospro/openai.svg" alt="OPENAI" class="img w-20 invert" />
      </li>
      <li>
        <img src="./logospro/notion.svg" alt="NOTION" class="img w-20 invert" />
      </li>
      <li><img src="./logospro/trello.svg" alt="TRELLO" class="img w-20" /></li>
      <li>
        <img src="./logospro/github.svg" alt="GITHUB" class="img w-20 invert" />
      </li>
      <li>
        <img src="./logospro/postman.svg" alt="POSTMAN" class="img w-20" />
      </li>
      <li>
        <img src="./logospro/vercel.svg" alt="VERCEL" class="img w-20 invert" />
      </li>
    </ul>
  </div>
</div>
<style>
  .div {
    display: grid;
    place-content: center;
    font-size: 2.125rem;
  }

  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
    padding: 1rem;
  }

  .tag-list li {
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
  }

  .scroller {
    max-width: 800px;
  }

  .scroller__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }

  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }

  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }

  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }

  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
</style>
<script src="./scroll.js"></script>
