---

---

<div class="div">
  <div class="scroller" data-speed="fast">
    <ul class="tag-list scroller__inner">
      <li><img src="./logospro/html2.svg" class="w-24 -mt-2" /></li>
      <li><img src="./logospro/css.svg" class="w-24 -mt-2" /></li>
      <li><img src="./logospro/javascript.svg" class="w-20" /></li>
      <li><img src="./logospro/typescript.svg" class="w-24 -mt-2" /></li>
      <li><img src="./logospro/react1.svg" class="w-32 -mt-6" /></li>
      <li><img src="./logospro/nextjs2.svg" class="w-36 invert -mt-8" /></li>
      <li><img src="./logospro/express.svg" class="w-44 invert -mt-11" /></li>

      <li><img src="./logospro/tailwind.svg" class="w-28 -mt-6" /></li>
      <li><img src="./logospro/material.svg" class="w-20" /></li>
      <li><img src="./logospro/python.svg" class="w-20" /></li>
      <li><img src="./logospro/openai.svg" class="w-20 invert" /></li>
      <li><img src="./logospro/notion.svg" class="w-20 invert" /></li>
      <li><img src="./logospro/trello.svg" class="w-20" /></li>
      <li><img src="./logospro/github.svg" class="w-20 invert" /></li>
      <li><img src="./logospro/postman.svg" class="w-20" /></li>
      <li><img src="./logospro/vercel.svg" class="w-20 invert" /></li>
    </ul>
  </div>
</div>
<style>
  .div {
    display: grid;
    place-content: center;
    font-size: 2.125rem;
  }

  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
    padding: 1rem;
  }

  .tag-list li {
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
  }

  .scroller {
    max-width: 800px;
  }

  .scroller__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }

  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }

  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }

  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }

  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
</style>
<script src="./scroll.js"></script>
