---
const formKey = import.meta.env.FORMKEY;
---

<form action="https://api.web3forms.com/submit" method="POST" class="mt-10">
  <input type="hidden" name="access_key" value={formKey} />
  <div class="grid gap-6 sm:grid-cols-2">
    <div class="relative z-0">
      <input
        type="text"
        name="name"
        class="peer block w-full appearance-none border-0 border-b border-white bg-transparent py-2.5 px-0 text-sm text-white focus:border-[#6A0DAD] focus:outline-none focus:ring-0"
        placeholder=" "
        required
      />
      <label
        class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-white duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-[#6A0DAD]"
        >Your name</label
      >
    </div>
    <div class="relative z-0">
      <input
        type="text"
        name="email"
        class="peer block w-full appearance-none border-0 border-b border-white bg-transparent py-2.5 px-0 text-sm text-white focus:border-[#6A0DAD] focus:outline-none focus:ring-0"
        placeholder=" "
        required
      />
      <label
        class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-white duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-[#6A0DAD]"
        >Your email</label
      >
    </div>
    <div class="relative z-0 col-span-2">
      <textarea
        name="message"
        required
        rows="5"
        class="peer block w-full appearance-none border-0 border-b border-white bg-transparent py-2.5 px-0 text-sm text-white focus:border-[#6A0DAD] focus:outline-none focus:ring-0"
        placeholder=" "></textarea>
      <label
        class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-white duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-[#6A0DAD]"
        >Your message</label
      >
    </div>
  </div>
  <button
    type="submit"
    class="mt-5 rounded-md bg-[#6A0DAD] transition hover:bg-[#3d1e53] px-10 py-2 text-white"
    >Send Message</button
  >
</form>
