---
import InfiniteScroll from "../../../../components/general/InfiniteScroll.astro";
---

<section class="text-white lg:px-24 lg:py-0 px-10 py-10">
  <div class="lg:-mt-7">
    <h1 class="lg:text-6xl text-4xl font-bold">I'm Agustín Avellaneda</h1>
    <h2 class="lg:text-4xl text-2xl py-4">A FullStack Web Developer</h2>
    <p class="lg:text-2xl text-lg">
      From Catamarca - Argentina. <br />
      Currently, I am looking for opportunities that allow me to combine my development
      skills with Project Management & QA Roles. My goal is to use my technical background
      and leadership skills to guide agile teams in delivering high-quality software
      solutions.<br />
      You can read my blog
      <a href="https://en.blog.agustin.top" target="_blank" class="underline">
        here</a
      >
    </p>
    <p class="lg:text-2xl text-lg">My actually Stack is:</p>
    <div class="">
      <InfiniteScroll />
    </div>
  </div>
</section>
