---
import InfiniteScroll from "../../../../components/general/InfiniteScroll.astro";
---

<section class="text-white lg:px-24 lg:py-0 px-10 py-10">
  <div class="lg:-mt-16">
    <h1 class="text-4xl font-bold uppercase">I'm Agustin Avellaneda</h1>
    <h2 class="lg:text-3xl text-2xl pt-2 font-serif">
      FullStack Web Developer
    </h2>

    <p class="lg:text-2xl text-lg">
      <span class="font-sans lg:text-lg text-md">
        From Catamarca, Argentina.
      </span>
      <br />
      I specialize in creating modern and functional interfaces along with implementing
      robust logic for web applications. My focus is on developing scalable and efficient
      solutions that improve user experience and achieve business objectives.
      <br />I have contributed to the success of projects such as <a
        class="text-blue-500 underline font-light"
        href="https://mailprex.top"
        target="_blank">Mailprex</a
      >,
      <a
        href="https://fuddy.click"
        class="text-blue-500 underline font-light"
        target="_blank">Fuddy</a
      >, <a
        href="https://skipy.top"
        class="text-blue-500 underline font-light"
        target="_blank">Skipy</a
      >, and <a href="/projects" class="text-blue-500 underline font-light"
        >others</a
      > demonstrating my ability to work both independently and in multidisciplinary
      teams. <br />
      <span class="font-semibold">
        If you are looking for a developer who not only meets your expectations,
        but overcome them with creative, high-performance solutions, I'm here to
        help.</span
      >
      <br />
      <span class="lg:text-lg text-md">
        Discover my insights and experiences on my blog
        <a
          href="https://en.blog.agustin.top"
          target="_blank"
          class="underline font-light"
        >
          here
        </a>.</span
      >
    </p>
    <p class="lg:text-2xl text-lg">My actually Stack is:</p>
    <div class="">
      <InfiniteScroll />
    </div>
  </div>
</section>
