---
import "../styles/style.css";
import NavBar from "./components/NavBar.astro";
import Footer from "./components/Footer.astro";
---

<NavBar />
<main class="container">
  <slot />
</main>
<Footer />
